<br>
<div class="container">
  <div class="jumbotron bg-dark text-white">
      <h4 class="display-6">Aaaah, {{siteName}}...</h4><br>
      <div class="container">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-bs-toggle="tab" href="#home" aria-selected="true" role="tab" tabindex="-1">Consulter le parc des Casiers</a>
            </li>
            
            <li *ngIf="this.stateService.group === 'admin'" class="nav-item" role="presentation">
                <a class="nav-link" data-bs-toggle="tab" href="#edit" aria-selected="false" role="tab" tabindex="-1">Modifier le parc des Casiers</a>
            </li>
        </ul>
        <br>
        <div class="tab-content">
            <div class="tab-pane fade active show" id="home" role="home">
                <div class="jumbotron bg-dark text-white">
                    <form [formGroup]="listForm" (ngSubmit)="displayList()" class="form-group">
                        <p>Cochez les localisations souhaitées :</p>
                        <div *ngFor="let loc of stateService.locations" class="custom-control custom-checkbox" class="form-check">
                            <label class="form-check-label">
                            <input formControlName="{{loc.name}}" type="checkbox" class="form-check-input" [attr.value]="isActiveLoc(loc)">
                            {{loc.name}}</label>
                        </div>
                        <p>Cochez les types de casiers souhaités :</p>
                        <div *ngFor="let stat of stateService.statuses" class="custom-control custom-checkbox" class="form-check">
                            <label class="form-check-label">
                            <input formControlName="{{stat}}" type="checkbox" class="form-check-input" [attr.value]="isActiveStat(stat)">
                            {{this.translator.translate(stat)}}</label> <!-- TODO : french translation here -->
                        </div>
                        <button type="submit" class="btn btn-primary">Consulter</button>
                    </form>
                    <app-list [parentConsult]="consultClick"></app-list> 
                </div>
            </div>
            <div class="tab-pane fade" id="edit" role="tabpanel">
                <div class="row">
                    <div class="col-lg-4">
                        <p class="lead">Modifier les localisations</p>
                        <form [formGroup]="locationForm" (ngSubmit)="submitLocation('addLocationButton')">
                            <div class="form-group form-inline" id="addLocationForm">
                                <label class="col-form-label" for="newLocation">Rajouter une localisation :</label>
                                <input id="name" formControlName="name" type="text" required="required" class="form-control input-sm" placeholder="Nouvelle Localisation">
                                <button type="submit" class="btn btn-primary" onclick="" id="newLocationButton">Rajouter</button>
                                <ng-container *ngFor="let conf of stateService.confirmations">
                                    <div *ngIf="conf.button === 'addLocationButton'" class="alert alert-dismissible alert-{{conf.type}}">
                                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                        {{conf.message}}.
                                    </div>
                                </ng-container>
                            </div>
                        </form>
                        <form [formGroup]="locationRenameForm" (ngSubmit)="renameLocation()">
                            <div class="form-group">
                                <label>Renommer une localisation</label>
                                <ng-container *ngIf="stateService.locations && stateService.locations[0]"> 
                                    <select class="form-control" formControlName="oldName" [(ngModel)]="stateService.locations[0].name">
                                        <option *ngFor="let loc of stateService.locations" value={{loc.name}}>{{loc.name}}</option>
                                    </select>
                                </ng-container>
                                <input formControlName="newName" type="text" maxlength="20" class="form-control input-sm" placeholder="Nouveau Nom">      
                            </div>
                            <button type="submit" class="btn btn-primary">Renommer</button>
                            <div id="locationRenameConfirmation"></div>
                        </form>
                        <hr>
                        <form [formGroup]="lockerForm" (ngSubmit)="submitLocker('addLockerButton')">
                            <p class="lead">Modifier les Casiers :</p>
                            <div class="form-group">
                                <label class="col-form-label" for="inputDefault">Rajouter un casier :</label>
                                <input formControlName="number" type="text" class="form-control input-sm" placeholder="numéro">
                                
                                <label>Localisation</label>
                                <select formControlName="locationName" class="form-control">
                                    <option *ngFor="let loc of stateService.locations">{{loc.name}}</option>
                                </select>
                                
                                <label>Position Verticale</label>
                                <select formControlName="verticalPosition" class="form-control">
                                    <option>au sol</option>
                                    <option>mi-hauteur</option>
                                    <option>en hauteur</option>
                                </select>
                                
                                <label>Nécéssite Clef de loge</label>
                                <select formControlName="lock" class="form-control">
                                    <option>non</option>
                                    <option>oui</option>
                                </select>
                                
                                <label>Dimensions (largeur/hauteur/profondeur) [cm]</label>
                                <input formControlName="dimensions" type="text" class="form-control input-sm" placeholder="Dimensions">
                            </div>
                            <button type="submit" class="btn btn-primary" onclick="">Enregistrer</button>
                            <br>
                            <ng-container *ngFor="let conf of stateService.confirmations">
                                <div *ngIf="conf.button === 'addLockerButton'" class="alert alert-dismissible alert-{{conf.type}}">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                    {{conf.message}}.
                                </div>
                            </ng-container>
                        </form>
                        <hr>
                        <h2 class="danger">Zone Dangereuse</h2>
                        <form [formGroup]="locaDeletionForm" (ngSubmit)="deleteLocation('deleteLocationButton')">
                            <label>Supprimer une localisation</label>
                            <ng-container *ngIf="stateService.locations && stateService.locations[0]"> 
                                <select class="form-control" formControlName="locationId" [(ngModel)]="stateService.locations[0].locationId">
                                    <option *ngFor="let loc of stateService.locations" value={{loc.locationId}}>{{loc.site}}, {{loc.name}}</option>
                                </select>
                            </ng-container>    
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                            <ng-container *ngFor="let conf of stateService.confirmations">
                                <div *ngIf="conf.button === 'deleteLocationButton'" class="alert alert-dismissible alert-{{conf.type}}">
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                    {{conf.message}}.
                                </div>
                            </ng-container>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
      </div>
  </div>
</div>