<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table table-responsive">
            <thead>
            <tr>
                <th scope="col">Status</th>
                <th scope="col">Numéro</th>
                <th scope="col">Localisation</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Date d'échéance</th>
            </tr>
            </thead>
            <tbody>
                <ng-container *ngIf="!!contracts && !!freeLockers && !!brokenLockers">
                <ng-container *ngFor="let contr of contracts">
                    <!-- Used to display contracted lockers -->
                    <tr *ngIf="contr.status === 'Breached'" class="table-danger" (click)="selectContractOrLocker(contr.lockerId)">
                        <th scope="row">{{contr.status}}</th>
                        <td>{{contr.locker.number}}</td>
                        <td>{{contr.locker.location.name}}</td>
                        <td>{{contr.firstname}}</td>
                        <td>{{contr.lastname}}</td>
                        <td>{{contr.expiration}}</td>
                    </tr>
                </ng-container>
                <ng-container *ngFor="let contr of contracts">
                    <tr *ngIf="contr.status === 'NonRenewed'" class="table-warning" (click)="selectContractOrLocker(contr.lockerId)">
                        <th scope="row">{{contr.status}}</th>
                        <td>{{contr.locker.number}}</td>
                        <td>{{contr.locker.location.name}}</td>
                        <td>{{contr.firstname}}</td>
                        <td>{{contr.lastname}}</td>
                        <td>{{contr.expiration}}</td>
                    </tr>
                </ng-container>
                <ng-container *ngFor="let contr of contracts">
                    <tr *ngIf="contr.status === 'Occupied'" class="table-info" (click)="selectContractOrLocker(contr.lockerId)">
                        <th scope="row">{{contr.status}}</th>
                        <td>{{contr.locker.number}}</td>
                        <td>{{contr.locker.location.name}}</td>
                        <td>{{contr.firstname}}</td>
                        <td>{{contr.lastname}}</td>
                        <td>{{contr.expiration}}</td>
                    </tr>
                </ng-container>

                <!-- used to generate free lockers rows -->
                <tr *ngFor="let locker of brokenLockers" class="table-light" (click)="selectContractOrLocker(locker.lockerId)">
                    <th scope="row">Hors-Service</th>
                    <td>{{locker.number}}</td>
                    <td>{{locker.location.name}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                
                <tr *ngFor="let locker of freeLockers" class="table-success" (click)="selectContractOrLocker(locker.lockerId)">
                    <th scope="row">Libre</th>
                    <td>{{locker.number}}</td>
                    <td>{{locker.location.name}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </ng-container>
            </tbody>
        </table>
    </div>
</div>