<!-- this template generates view for users and admins. Admin has to manage case when out of service or not. -->
<br>    
<div class="row">  
<div class="col">
    <div class="text-left">
        <h4>Détails de Casier</h4>
    </div>
</div>
</div>
<hr>
<ng-container *ngIf="locker">
<ul class="list-group">    
<div class="row">
    <div class="col">
        <h5>Numéro</h5>
    </div>
    <div class="col">
        <p>{{locker.number}}</p>
    </div>
</div>              
<div class="row">
    <div class="col">
        <h5>Position Verticale</h5>
    </div>
    <div class="col">
        <p>{{locker.verticalPosition}}</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <h5>Serrure (e.g. requiert clef de loge)</h5>
    </div>
    <div class="col">
        <p>{{locker.lock}}</p>
    </div>
</div>         
<div class="row">
    <div class="col">
        <h5>dimensions (largeur/hauteur/profondeur) [cm]</h5>
    </div>
    <div class="col">
        <p>{{locker.dimensions}}</p>  
    </div>
</div>
<div class="row">
    <div class="col">
        <h5>Site</h5>
    </div>
    <div class="col">
        <p>{{locker.location.site}}</p>
    </div>
</div>         
<div class="row">
    <div class="col">
        <h5>Localisation</h5>
    </div>
    <div class="col">
        <p>{{locker.location.name}}</p>
    </div>
</div>         
<div class="row">
    <div class="col">
        <h5>Status</h5>
    </div>
    <div class="col">
        <p>Libre</p>  
    </div>
</div>
</ul>
<hr>
<!-- Contract info if it's a user not an admin -->
<ng-container *ngIf="this.stateService.role === 'user'">
    <h2><strong>Contrat de prêt de casier</strong></h2>
    <hr>
    <h4>Casier et Emplacement Physique</h4>
    <hr>
    <p class="lead">Ce contrat s'applique au casier décrit ci-dessus situé au bâtiment de {{locker.location.site}} valable de maintenant jusqu'à {{this.stateService.getExpirationDate()}}.<br>
    Si vous souhaitez louer ce casier, veuillez prendre connaissance des conditions d'utilisation suivantes.</p>
    
    <h4>Conditions d'Utilisation</h4>
    <hr>
    <p class="lead">La personne désirant avoir un casier doit être étudiant(e) de l'Université de Genève et suivre des cours dans le bâtiment
        concerné. <br>
        Elle doit présenter sa carte multi-services à la loge des huissiers, à des fins de légitimation lors de l'octroi du casier.
        
        L'Université de Genève met à disposition des casiers à titre gratuit, l'utilisateur-trice est responsable du matériel qui lui est 
        prêté et reconnaît que le casier lui a été remis en bon état. 
    </p>
    
    <h4>Prise de Possession</h4>
    <hr>
    <p *ngIf="locker.lock" class="lead">
        Veuillez passer à la loge des huissiers afin que ceux-ci puissent vous fournir la clef du casier. <br>
        En cas de perte ou de casse de celle-ci, l'Université de Genève se réserve le droit de vous facturer les frais en résultant. <br>
        En cas de détérioration du matériel, l'Université de Genève se garde le droit de vous facturer la remise en état du casier.
    </p>

    <p *ngIf="!locker.lock" class="lead">
        Veuillez passer à la loge des huissiers avec votre carte multiservices après avoir loué le casier en ligne afin que ceux-ci puissent dévérouiller le locket à cadenas. <br>        
    </p>
    
    <h4>Durée et renouvellement</h4>
    <hr>
    <p class="lead">
        Ce contrat est conclu pour une durée d'une année universitaire du {{ this.stateService.getNow() }} au dimanche, {{ this.stateService.getExpirationDate() }}. 
        En cas de renouvellement, l'utilisateur-trice doit le faire sur ce site entre le {{ this.stateService.getExpirationDate() }} et {{ this.stateService.getRenewalDeadline() }}.
    </p>
    <h4>Responsabilité</h4>
    <hr>
    <ul>
        <li><p class="lead">En cas de détérioration du matériel, l'Université de Genève se garde le droit de vous facturer la remise en état du casier.</p></li>
        <li><p class="lead">L'Université de Genève décline toute responsabilité quand aux objets déposés dans les casiers. Vous êtes invités à n'y déposer aucun objet de valeur.</p></li>
        <li *ngIf="locker.lock"><p class="lead">Dans le cas où le contrat n'est pas renouvelé avant {{this.stateService.getRenewalDeadline()}}, la loge changera la serrure et videra les affaires qui s'y trouvent.</p></li>
        <li *ngIf="!locker.lock"><p class="lead">Dans le cas où le contrat n'est pas renouvelé avant {{this.stateService.getRenewalDeadline()}}, la loge cassera le cadenas et videra les affaires qui s'y trouvent.</p></li>
        <li><p class="lead">Les objets laissés dans les casiers resteront cependant à disposition de l'utilisateur-trice pendant une année à la loge de l'huissier. Passé ce délai, l'Université se résèrve le droit de s'en débarrasser.</p></li>
    </ul>

    <h4 *ngIf="locker.lock">Fin du contrat et restitution de clef</h4>
    <h4 *ngIf="!locker.lock">Fin du contrat</h4>
    <hr>
    <p *ngIf="locker.lock" class="lead">
        Le locataire qui ne désire plus utiliser de casier est tenu de restituer la clef du casier à loge avant la fin du contrat, soit au plus tard le {{this.stateService.getRenewalDeadline()}}.
    </p>    
    <p *ngIf="!locker.lock" class="lead">
        Le locataire qui ne désire plus utiliser de casier est tenu de l'annoncer à la loge des huissiers et enlever sont cadenas, au plus tard le {{this.stateService.getRenewalDeadline()}}.
    </p>    
         
    <hr>
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" name="contract" onclick="if(this.checked) {
            document.getElementById('contractButton').disabled = false;    
        } else {
            document.getElementById('contractButton').disabled = true;
        }" id="contractCheckbox">
        <label class="custom-control-label" for="contractCheckbox">J'ai pris connaissance des conditions d'utilisation et m'engage à les respecter. <br>
            Je suis conscient que ceci est un contrat légal et que je peux être trainé en justice sous ses termes.
        </label>
    </div>
    <br>
    <input (click)="createContract()" id="contractButton" disabled="true" class="btn btn-success btn-lg" value='Louer ce Casier' name='louer'>
</ng-container>

</ng-container>    
<ng-container *ngIf="locker && this.stateService.role === 'admin'">
    <ng-container *ngIf="!locker.OutOfService">
        <form [formGroup]="contractForm" (ngSubmit)="createContractAtLocker('adminCreateContractButton')">
            <p class="lead">Établir un nouveau contrat à ce casier :</p>
            <div class="form-group">
                <label class="col-form-label" for="inputDefault">Nom</label>
                <input type="text" class="form-control input-sm" placeholder="Doe" formControlName="lastname">
                
                <label for="firstname">Prénom</label>
                <input type="text" class="form-control input-sm" placeholder="John" formControlName="firstname">
                
                <label for="number">Numéro</label>
                <input type="tel" class="form-control input-sm" placeholder="+41 12 345 67 89 (optionel)" formControlName="phone_number">
                
                <label for="email">Courriel</label>
                <input type="text" class="form-control input-sm" placeholder="nom.prenom@etu.unige.ch | @unige.ch (obligatoire)" formControlName="email">
                <br>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <ng-container *ngFor="let conf of stateService.confirmations">
            <div *ngIf="conf.button === 'adminCreateContractButton' " class="alert alert-dismissible alert-{{conf.type}}">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {{conf.message}}.
            </div>
        </ng-container>
    </ng-container>
</ng-container>

<ng-container *ngIf="this.stateService.role === 'admin'">
<h2>Zone de Danger</h2>
<hr>
<br>
<div class="row">
    <div class="col">
        <form [formGroup]="moveForm" (ngSubmit)="moveLocker()">
            <label class="col-form-label">Déplacer ce casier :</label>
            <div class="form-group">
                <ng-container *ngIf="locations && locations[0]"> 
                    <select [(ngModel)]="locations[0].locationId" class="form-control" formControlName="locationId">
                        <option value={{locations[0].locationId}}>{{locations[0].site}}, {{locations[0].name}}</option>
                        <option *ngFor="let location of locations.slice(1)" value={{location.locationId}}>{{location.site}}, {{location.name}}</option>        
                    </select>
                </ng-container>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <div class="col">
        <ng-container *ngIf="locker">
            <ng-container *ngIf="!locker.OutOfService">
                <form [formGroup]="invalidForm" (ngSubmit)="markInvalid()">
                    <label class="col-form-label">Marquer ce casier comme non disponible :</label>
                    <div class="form-group">
                        <textarea formControlName="OutOfServiceReason" class="form-control" rows="3" placeholder="Raison..."></textarea>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div id="markUnavailableConfirmation"></div>
                </form>
            </ng-container>
            <ng-container *ngIf="locker.OutOfService">
                <div class="card text-white bg-danger mb-3" style="max-width: 30rem;">
                    <div class="card-body">
                        <h4 class="card-title">Raison d'Indisponibilité :</h4>
                        <p class="card-text">{{locker.OutOfServiceReason}}</p>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" (click)="markValid(locker.lockerId)">Marquer Disponible</button>
            </ng-container>
        </ng-container>
    </div>
</div>
<hr>
<div class="row">
    <div class="col text-left">
        <label class="col-form-label" for="inputDefault">Supprimer ce casier (cette action est irréversible):</label>
    </div>
    <div class="col text-right">
        <button type="submit" class="btn btn-danger" (click)="delete(locker.lockerId)">Supprimer</button>
    </div>
    <div id="lockerDeletionError"></div>
</div>
</ng-container>