<br>    
<div class="row">  
<div class="col">
    <div class="text-left">
        <h4>Détails de Casier</h4>
    </div>
</div>
</div>
<hr>
<ng-container *ngIf="locker">
<ul class="list-group">    
<div class="row">
    <div class="col">
        <h5>Numéro</h5>
    </div>
    <div class="col">
        <p>{{locker.number}}</p>
    </div>
</div>              
<div class="row">
    <div class="col">
        <h5>Position Verticale</h5>
    </div>
    <div class="col">
        <p>{{locker.verticalPosition}}</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <h5>Serrure (e.g. requiert clef de loge)</h5>
    </div>
    <div class="col">
        <p>{{locker.lock}}</p>
    </div>
</div>         
<div class="row">
    <div class="col">
        <h5>dimensions (largeur/hauteur/profondeur) [cm]</h5>
    </div>
    <div class="col">
        <p>{{locker.dimensions}}</p>  
    </div>
</div>
<div class="row">
    <div class="col">
        <h5>Site</h5>
    </div>
    <div class="col">
        <p>{{locker.location.site}}</p>
    </div>
</div>         
<div class="row">
    <div class="col">
        <h5>Localisation</h5>
    </div>
    <div class="col">
        <p>{{locker.location.name}}</p>
    </div>
</div>         
<div class="row">
    <div class="col">
        <h5>Status</h5>
    </div>
    <div class="col">
        <p>Libre</p>  
    </div>
</div>
</ul>
</ng-container>    
<hr>
<ng-container *ngIf="locker">
    <ng-container *ngIf="!locker.OutOfService">
    <form [formGroup]="contractForm" (ngSubmit)="createContractAtLocker()">
        <p class="lead">Établir un nouveau contrat à ce casier :</p>
        <div class="form-group">
            <label class="col-form-label" for="inputDefault">Nom</label>
            <input type="text" class="form-control input-sm" placeholder="Doe" formControlName="lastname">
            
            <label for="firstname">Prénom</label>
            <input type="text" class="form-control input-sm" placeholder="John" formControlName="firstname">
            
            <label for="number">Numéro</label>
            <input type="tel" class="form-control input-sm" placeholder="+41 12 345 67 89 (optionel)" formControlName="phone_number">
            
            <label for="email">Courriel</label>
            <input type="text" class="form-control input-sm" placeholder="nom.prenom@etu.unige.ch | @unige.ch (obligatoire)" formControlName="email">
            <br>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </ng-container>
</ng-container>
<h2>Zone de Danger</h2>
<hr>
<br>
<div class="row">
    <div class="col">
        <form [formGroup]="moveForm" (ngSubmit)="moveLocker()">
            <label class="col-form-label">Déplacer ce casier :</label>
            <div class="form-group">
                <select class="form-control" formControlName="locationId">
                        <!-- Add all locations across all university here (lockers can be transfered between sites) -->
                        <ng-container *ngIf="locations">
                            <ng-container *ngFor="let location of locations">
                                <option value={{location.locationId}}>{{location.site}}, {{location.name}}</option>
                            </ng-container>
                        </ng-container>
                </select>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
    <div class="col">
        <ng-container *ngIf="locker">
            <ng-container *ngIf="!locker.OutOfService">
                <form [formGroup]="invalidForm" (ngSubmit)="markInvalid()">
                    <label class="col-form-label">Marquer ce casier comme non disponible :</label>
                    <div class="form-group">
                        <textarea formControlName="OutOfServiceReason" class="form-control" rows="3" placeholder="Raison..."></textarea>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div id="markUnavailableConfirmation"></div>
                </form>
            </ng-container>
            <ng-container *ngIf="locker.OutOfService">
                <div class="card text-white bg-danger mb-3" style="max-width: 30rem;">
                    <div class="card-body">
                        <h4 class="card-title">Raison d'Indisponibilité :</h4>
                        <p class="card-text">{{locker.OutOfServiceReason}}</p>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" (click)="markValid(locker.lockerId)">Marquer Disponible</button>
            </ng-container>
        </ng-container>
    </div>
</div>
<hr>
<div class="row">
    <div class="col text-left">
        <label class="col-form-label" for="inputDefault">Supprimer ce casier (cette action est irréversible):</label>
    </div>
    <div class="col text-right">
        <button type="submit" class="btn btn-danger" (click)="delete(locker.lockerId)">Supprimer</button>
    </div>
    <div id="lockerDeletionError"></div>
</div>