<br>    
<div class="container">
    <div class="jumbotron bg-dark text-white">
        <ng-container *ngIf="!!contract || !!locker">   <!-- Contract or locker must be loaded -->
            <ul class="list-group">
                <ng-container *ngIf="this.isContract">
                    <app-contract [contract]="contract"></app-contract>
                </ng-container>       
                <ng-container *ngIf="!this.isContract">
                    <app-locker></app-locker>
                </ng-container>        
            </ul>
        </ng-container>
    </div>
</div>