<br>    
<div class="container">
    <div class="jumbotron bg-dark text-white">
        <h1>À propos de casiers.unige.ch</h1>
        <hr>
        <p class="lead">Cette platforme permet aux étudiants de l'Université de Genève de louer un casier à n'importe quel bâtiment de l'Université
            gratuitement, sans devoir remplir de la paperasse à la loge. 
            Après avoir loué un contrat, l'étudiant ne doit se rendre qu'une seule fois à la loge, afin d'avoir le casier dévérouillé
            par le huissier, et toute la gestion de l'expiration du contrat se fera automatiquement par la suite, sauvant du temps à l'Huissier et 
            à l'étudiant. 
        </p>
        <h2>Développement et Auteur</h2>
        <p class="lead">Cette platforme a étée développée par <a class="alert-link" href="https://github.com/swissarthurfreeman/">Arthur Freeman</a>
            à l'Université de Genève en collaboration avec la DISTIC. 
        </p>
        <ul> 
            <li><p class="lead"><a href= "mailto: arthur.freeman@unige.ch">arthur.freeman@unige.ch</a></p></li>
            <li><p class="lead"><a href= "mailto: swissarthurfreeman@gmail.com">swissarthurfreeman@gmail.com</a></p></li>
        </ul>
    </div>
</div>